#container {
    margin: auto;
    width: inherit;
    background-color: navy;
}

.mainBox {
    margin: auto;
    width: 250px;
    border: solid deepskyblue 5px;
    border-radius: 25%;
    text-align: center;
    background-color: aliceblue;
}

ul {
    text-align: left;
}